*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.scene{
    position: fixed;
    top: 0;
    left: 0%;
    outline: none;
}

.img-info{
    position: absolute;
    top: 2%;
    right: 1%;
    width: 3%;
    height: auto;
}

.titulo{
    width: 30%;
}

.instrucciones{
    position: absolute;
    z-index: 2;
    width: 70%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(to top, #dd9f2bfa 0%, #A37A0Dfa 70%);
    border-radius: 30px;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1rem;
}

.header{
    display: block;
    text-align: center;
    width: 100%;
    padding: 0 4rem;
}

.cerrar{
    width: 80%;
}

.inst{
    display: flex;
    flex-direction: row;
}

.inst1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.scroll{
    width: 40%;
    display: flex;
}

.hand{
    display: none;
}

.point{
    text-align: center;
    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0%;
    left: 50%;
    width: 60%;
    height: 200px;
    background: linear-gradient(to top, #dd9f2b 0%, #A37A0D 70%);
    /* background-color: #A37A0D; */
    color: #ffff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    z-index: 1;
    padding: 1rem;
    transform: translate(-50%,200px);
}

h2{
    font-size: 1.3rem;
}

.label{
    font-size: 2rem;
    font-weight: 600;
}

.text{
    font-size: 1.3rem;
}

.img-logo{
    position: absolute;
    bottom: 2%;
    right: 1%;
    width: 5%;
    height: auto;
}

.button-i{
    background-color: #7f6009;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    border: none;
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.button{
    background:#7f6009;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 0.5rem ;
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
}

.button:hover {background-color: #ba983a}

.button:active {
  background-color: #5d4607;
}

@media screen and (max-width: 500px){

    .titulo{
        width: 100%;
    }

    .img-info{
        width: 15%;
        top: 2%;
        right: 2%;
    }

    .instrucciones{
        width: calc(100vw - 24px - 20px - 20px);
        height: calc(100vh - 24px - 40px - 40px);
        padding: 2rem 0;
        display: flex;
        text-align: center;
        overflow: scroll;
    }

    .cerrar{
        width: 30%;
    }

    .text-i{
        padding: 2rem;
    }

    .inst{
        flex-direction: column;
        justify-content: space-around;
        margin: 2rem;
    }

    .inst1{
        padding: 0.5rem;
        flex-direction: row;
    }

    .scroll{
        display: none;
    }

    .hand{
        display: flex;
        width: 50%;
    }

    .point{
        width: 100%;
        left: 0;
        transform: translate(0,200px);
    }
    
    .img-logo{
        position: absolute;
        bottom: 2%;
        right: 1%;
        width: 15%;
        height: auto;
    }

    .button-i{
        padding: 1rem 0;
        width: 20%;
    }
}

@media screen and (min-width: 500px) and (max-width: 912px){
    .titulo{
        width: 80%;
    }

    .img-info{
        width: 10%;
        top: 1%;
        right: 2%;
    }

    .instrucciones{
        width: 90%;
        height: 90%;
    }

    .img-logo{
        width: 13%;
        height: auto;
        bottom: 1%;
        right: 1%;
    }

    .text-i{
        padding: 2rem;
        font-size: 1.5rem;
    }

    .inst1 h2{
        font-size: 1.5rem;
    }

    .scroll{
        display: none;
    }

    .hand{
        display: flex;
        width: 60%;
    }

    .button-i{
        padding: 1rem;
        width: 10%;
    }

    .cerrar{
        width: 70%;
    }

    .point{
        width: 100%;
    }

    .text{
        font-size: 1.5rem;
    }
}

